<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EJS Demo</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property='base_url' content='./' id="base_url">
    <link rel="stylesheet" href="./css/main.css">

    <!-- build:js js/init.min.js -->
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
    <!-- endbuild -->
</head>